input,
textarea,
select,
button {
  font-family: "Lato-Regular";
  font-size: 14px;
}

input{
  border-radius: 2px !important;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px #8EB852 solid !important;
}
input:required:invalid {
  box-shadow: none !important;
}

input:invalid::-webkit-inner-spin-button,
input:invalid::-webkit-outer-spin-button,
input:invalid::-webkit-validation-bubble-arrow,
input:invalid::-webkit-validation-bubble-message {
  display: none !important;
}
