* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #999;
  background: url("../images/form-wizard-bg.jpg") no-repeat center center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea,
select,
button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}
.is-invalid {
  border: 1px solid red !important;
  border-radius: 2px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 0px;
  position: relative;
  display: block;
  margin-bottom: 0px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.actions li {
  margin: 0;
}

.actions.last-step-active li[aria-hidden="false"] {
  display: block !important;
  margin: 0 auto;
}

.actions.last-step-active li[aria-hidden="true"] {
  display: none !important;
}

.actions.last-step-active li:first-child {
  display: none !important;
}

select {
  cursor: pointer;
}
select option[value=""][disabled] {
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  width: 826px;
  height: 620px;
  padding: 63px 90px 0;
  background: #fff;
}

.wizard {
  position: relative;
}

.steps .current-info,
.steps .number {
  display: none;
}

.steps ul {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.steps ul li {
  margin-right: 10.8%;
  position: relative;
}
.steps ul li:last-child {
  margin-right: 0;
}
.steps ul li .step-arrow {
  position: absolute;
  top: 33%;
  left: 113%;
  max-width: 57%;
}
.steps ul li .step-order {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
  margin-top: 14px;
}

h3 {
  font-family: "Lato-Black";
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 29px;
  font-weight: 900;
}
button:disabled {
  opacity: 0.1;
  background-color: #fff;
  cursor: not-allowed;
}

.actions {
  margin-top: 10px;
}
.actions ul {
  display: flex;
  justify-content: space-between;
}
.actions ul.step-4 {
  justify-content: center;
}
.actions ul.step-4 li:first-child {
  display: none;
}
.actions li a {
  border: none;
  display: inline-flex;
  height: 42px;
  width: 132px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: #8eb852;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 3px;
}
.actions li a:hover {
  background: #a1d15e;
}
.actions li:first-child a {
  width: 97px;
}
.actions li:last-child a {
  width: 234px;
}
.finish-btn{
  min-width: 170px!important;
}
